.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.g.dart
*.freezed.dart
pubspec.lock
.env

# IDE
.idea/
.metadata
*.iml

# Android build artifacts
android/.kotlin/
android/*.log
android/*.hprof

# Tests
test/
